.availableStatusClass {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #008000;
}
.data-table {
    box-shadow: 1px 1px 5px 5px #3b3b3b4d;
    margin-top: 20px;
    width:90%;
  }
  
  table {
    width: 100%;
    box-shadow: 1px ;
    border-collapse: collapse;
  }
  tr {
    border-bottom: 1px solid #3b3b3b4d;
  }
  
  thead th {
    text-align: left;
    background: #f4f4f4;
    padding: 10px;
  }
  
  tbody td {
    padding: 10px;
  }
  